.swiper-slide {
  position: relative;
}

.swiper-slide img {
  width: 100%;
  height: 800px;
  object-fit: cover;
  display: block;
}

.swiper-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(hsla(220, 20%, 18%) 0%, rgba(0, 0, 0, 0) 70%);
  pointer-events: none;
}
.swiper-slide::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    hsla(220, 20%, 18%, 0.6) 70%,
    hsl(220, 20%, 18%) 100%
  );
  pointer-events: none;
}
