
/* @font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype'),
  } */
  /*=============== VARIABLES CSS ===============*/
  :root {
    --body-font: "Montserrat", sans-serif;
    --black-color: hsl(220, 24%, 12%);
    --white-color: #fff;
  }

footer{
    padding: 80px 13% 70px;
}

.footer__content h4{
    color: #fff;
    margin-bottom: 1.5rem;
    font-size: 20px;
}
.footer__content li{
    margin-bottom: 16px;
}
.footer__content li a{
    display:block;
    color: #d6d6d6;
    font-size: 15px;
    font-weight: 400;
    transition: all .04s ease;
}
.footer__content li a:hover{
    transform: translateY(-3px) translateX(-5px);
    color: var(--white-color);
}
.footer__content{
    color:#d6d6d6;
    font-size: 16px;
    line-height: 30px;
    margin:20px;
}
.icons a {
    display: inline-block;
    font-size:22px;
    color: #d6d6d6;
    margin-right:17px;
    transition: all .40s ease;
}
.icons a:hover{
    color: var(--white-color);
    transform:  translateY(-5px);
}
@media (max-width:1690px){
    footer{
        padding: 50px 5% 40px;
    }
}
@media (max-width:1120px){
    .footer__container{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(300px,auto));
    gap: 2rem;
    }
}
@media (max-width:700px){
    .footer__container{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(150px,auto));
    gap: 2.5rem;
    }
}
